


.buttonHolder{
	
	text-align:center;
	
}
.form-box input{
	border-radius:10px;
	
	
}




.h1{
	
	 font-family: "Lucida Console", "Courier New", monospace;
	
	
}
.container {
	background-color: #f2eeee;
	
	padding: 2px;
}

.main {
		background-image: url("../images/login-background.jpg");
	padding: 15px;
	background-repeat: no-repeat;
	background-size: 100% auto; /* or background-size: 100% 100%; */
	padding: 100px 0px;
}
.form-box1{text-align:center;
	background-color:rgba(255,255,255,0.5);
	backdrop-filter : blur(50px);
	border-radius:20px;
	padding:1px solid black;
	width: 50%;
        margin-LEFT :175%}

.form-box{
	text-align:center;
	background-color:rgba(255,255,255,0.5);
	backdrop-filter : blur(50px);
	border-radius:20px;
	padding:1px solid black;
	width: 75%;
    margin-left : 115%;
}

.form-box textarea {
	border-radius:10px;
	
	
}
