.container{
	
	background-color:white;
	border:1px;
	padding :2px solid black;
	
	
	
	
}





.main{
background-image:url("/home/arishi12/Downloads/main-bg.jpg");
background-repeat:no-repeat;	
background-size:100%;

padding:75px-0px;
	
	
	
}
.form-box{
	background-color:white;
	
	
	
	
}