<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>user_crud.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loggin</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>CreateReg</servlet-name>
        <servlet-class>user_crud.controller.CreateReg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateReg</servlet-name>
        <url-pattern>/createReg</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Listall</servlet-name>
        <servlet-class>user_crud.controller.Listall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Listall</servlet-name>
        <url-pattern>/Listall</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>UpdateReg</servlet-name>
        <servlet-class>user_crud.controller.UpdateReg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateReg</servlet-name>
        <url-pattern>/upate</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>DeleteReg</servlet-name>
        <servlet-class>user_crud.controller.DeleteReg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReg</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
     <servlet>
    <servlet-name>LogoutController</servlet-name>
        <servlet-class>user_crud.controller.LogoutController</servlet-class>
    </servlet>
     <servlet>
     	<description>
     	</description>
     	<display-name>SampleControler</display-name>
     	<servlet-name>SampleControler</servlet-name>
     	<servlet-class>user_crud.controller.SampleControler</servlet-class>
     </servlet>
     <servlet>
     	<description>
     	</description>
     	<display-name>UpdateRegistration</display-name>
     	<servlet-name>UpdateRegistration</servlet-name>
     	<servlet-class>user_crud.controller.UpdateRegistration</servlet-class>
     </servlet>
     
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SampleControler</servlet-name>
    	<url-pattern>/SampleControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateRegistration</servlet-name>
    	<url-pattern>/updateReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginPageController</servlet-name>
    	<url-pattern>/LoginPageController</url-pattern>
    </servlet-mapping>
</web-app>